<div class="center xs-6 col-md-4">
    <form [formGroup]="fChangPassword" (ngSubmit)="onSubmit(fChangPassword.value)" class="p-t-15">
        <div class="modal-body">
            <div class="form-group" [ngClass]="{'has-error': (!oldPassword.valid && oldPassword.touched), 'has-success': (oldPassword.valid && oldPassword.touched)}">
                <label>Old Password</label>
                <input type="password" [formControl]="oldPassword" class="form-control border-radius-non" placeholder="Old password">
                <label class="error m-t-10" *ngIf="(!oldPassword.valid && oldPassword.touched)">Old password is required</label>
            </div>
            <div class="form-group" [ngClass]="{'has-error': fChangPassword.get('newPassword').invalid && (fChangPassword.get('newPassword').dirty || fChangPassword.get('newPassword').touched)}">
                <label>New Password</label>
                <input type="password" [formControl]="newPassword" class="form-control border-radius-non" placeholder="New password">
                <label class="error m-t-10" *ngIf="fChangPassword.get('newPassword').invalid && (fChangPassword.get('newPassword').dirty || fChangPassword.get('newPassword').touched) && fChangPassword.get('newPassword').errors?.required">New password is required</label>
            </div>

            <div class="form-group" [ngClass]="{'has-error': confirmNewPassword.invalid && confirmNewPassword.dirty}">
                <label>Confirm New Passowrd</label>
                <input type="password" [formControl]="confirmNewPassword" class="form-control border-radius-non" placeholder="Confirm new passowrd">
                <label class="error m-t-10" *ngIf="(confirmNewPassword.dirty || confirmNewPassword.touched || fChangPassword.get('confirmNewPassword').touched) && fChangPassword.errors?.passwordsEqual">Confirm new passowrd not match</label>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary btn-with-icon btn-sm" type="submit" [disabled]="!fChangPassword.valid  || confirmNewPassword.value != newPassword.value || submitted">
                <i class="fa fa-floppy-o"></i>Change</button>
        </div>
    </form>
</div>