<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title"> {{title}}</h4>
        <button class="close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <form [formGroup]="frm" (ngSubmit)="onSubmit()">
        <div class="modal-body">
            <ngb-tabset #mytab>
                <ngb-tab id="user-tab-1">
                    <ng-template ngbTabTitle>Information</ng-template>
                    <ng-template ngbTabContent>
                        <div class="row form-group">
                            <div ngClass="col-sm-3">
                                <label>Image</label>
                            </div>
                            <div ngClass="col-sm-9">
                                <ba-picture-uploader [picture]="profile.picture" [defaultPicture]="defaultPicture" [uploaderOptions]="uploaderOptions" (onUploadCompleted)="onUploadCompleted($event)">
                                </ba-picture-uploader>
                            </div>
                        </div>

                        <div class="row form-group m-b-0 required" [ngClass]="{'has-error': firstName.invalid && (firstName.dirty || firstName.touched)}">
                            <div class="col-sm-3">
                                <label class="nowrap">First Name</label>
                            </div>
                            <div class="col-sm-9">
                                <input class="form-control" type="text" formControlName="firstName" placeholder="First Name">
                                <p class="form-error-message p-b-16">
                                    <span *ngIf="firstName.invalid && (firstName.dirty || firstName.touched) && firstName.errors?.required">
                                        {{'error.firstname_required' | translate}}
                                    </span>
                                </p>
                            </div>
                        </div>

                        <div class="row form-group m-b-0 required" [ngClass]="{'has-error': lastName.invalid && (lastName.dirty || lastName.touched)}">
                            <div class="col-sm-3">
                                <label class="nowrap">Last Name</label>
                            </div>
                            <div class="col-sm-9">
                                <input class="form-control" type="text" formControlName="lastName" placeholder="Last Name">
                                <p class="form-error-message p-b-16">
                                    <span *ngIf="lastName.invalid && (lastName.dirty || lastName.touched) && lastName.errors?.required">
                                        {{'error.lastname_required' | translate}}
                                    </span>
                                </p>
                            </div>
                        </div>

                        <div class="row form-group m-b-0 required" [ngClass]="{'has-error': email.invalid && (email.dirty || email.touched)}">
                            <div class="col-sm-3">
                                <label>Email</label>
                            </div>
                            <div class="col-sm-9">
                                <input [formControl]="email" type="email" class="form-control" placeholder="Email">
                                <p class="form-error-message p-b-16">
                                    <span *ngIf="email.invalid && (email.dirty || email.touched)">
                                        <span *ngIf="email.errors?.required">
                                            {{'error.name_required' | translate}}
                                        </span>
                                        <span *ngIf="email.errors?.pattern">
                                            {{'error.email_invalid' | translate}}
                                        </span>
                                    </span>
                                </p>
                            </div>
                        </div>

                        <div *ngIf="isSystemAdmin && !isShowGroup" class="row form-group m-b-0 required" [ngClass]="{'has-error': frm.get('groupId').invalid && (frm.get('groupId').dirty || frm.get('groupId').touched)}">
                            <div class="col-sm-3">
                                <label class="nowrap">Group</label>
                            </div>
                            <div class="col-sm-9">
                                <select class="form-control" formControlName="groupId">
                                    <option value="">-- Select Group --</option>
                                    <option *ngFor="let c of groups" [value]="c.id">{{c.name}}</option>
                                </select>
                                <p class="form-error-message p-b-16">
                                    <span *ngIf="frm.get('groupId').invalid && (frm.get('groupId').dirty || frm.get('groupId').touched) && frm.get('groupId').errors?.required">
                                        {{'error.group_required' | translate}}
                                    </span>
                                </p>
                            </div>
                        </div>

                        <div *ngIf="isSystemAdmin && isShowGroup" class="row form-group m-b-0">
                            <div class="col-sm-3">
                                <label class="nowrap">Group</label>
                            </div>
                            <div class="col-sm-9">
                                <input class="form-control" type="text" formControlName="groupName" disabled="disabled">
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>

                <ngb-tab id="user-tab-2">
                    <ng-template ngbTabTitle>Password</ng-template>
                    <ng-template ngbTabContent>
                        <div class="row form-group" [ngClass]="{'m-b-0 required': !user?.id , 'has-error': frm.get('password').invalid && (frm.get('password').dirty || frm.get('password').touched)}">
                            <div class="col-sm-3">
                                <label>Password</label>
                            </div>
                            <div class="col-sm-9">
                                <input class="form-control" type="password" formControlName="password" placeholder="Password" autocomplete="off">
                                <p class="form-error-message p-b-16">
                                    <span *ngIf="frm.get('password').invalid && (frm.get('password').dirty || frm.get('password').touched) && frm.get('password').errors?.required">
                                        {{'error.password_required' | translate}}
                                    </span>
                                </p>
                            </div>
                        </div>

                        <div class="row form-group m-b-0" [ngClass]="{'m-b-0 required': !user?.id, 'has-error': confirmPassword.invalid && confirmPassword.dirty}">
                            <div class="col-sm-3">
                                <label>Confirm Password</label>
                            </div>
                            <div class="col-sm-9">
                                <input class="form-control" type="password" formControlName="confirmPassword" placeholder="Confirm Password" autocomplete="off">
                                <p class="form-error-message p-b-16">
                                    <span *ngIf="(confirmPassword.dirty || confirmPassword.touched || frm.get('password').touched) &&
                                  confirmPassword.invalid && confirmPassword.errors?.notMatch">
                                        {{'error.confirm_password_not_macth' | translate}}
                                    </span>
                                </p>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>

                <ngb-tab id="user-tab-3">
                    <ng-template ngbTabTitle>Farms</ng-template>
                    <ng-template ngbTabContent>
                        <div class="row form-group">
                            <div class="col-sm-3">
                                <label>Farms</label>
                            </div>
                            <div class="col-sm-9">
                                <ss-multiselect-dropdown [ngModelOptions]="{standalone: true}" [options]="farms" [texts]="myTexts" [settings]="mySettings"
                                    [(ngModel)]="selectedFarms"></ss-multiselect-dropdown>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>

        </div>

        <div class="modal-footer text-right">
            <button type="button" class="btn btn-cancel" (click)="closeModal()">Cancel</button>
            <button class="btn btn-nois m-r-5" type="submit">Save</button>
        </div>
    </form>
</div>