<div class="col-md-12 m-b-20">
    <button class="btn btn-primary btn-icon btn-xs" type="button" (click)="showModalAddSensor()">
        <i class="ion-plus"></i> Add Sensor
    </button>
</div>

<div class="col-md-12">
    <form [formGroup]="frm" (ngSubmit)="onSubmit()" class="m-b-20">
        <div class="row m-b-20">
            <div class="col-md-2">
                <label class="label-control">Name</label>
                <input class="form-control border-radius-non" type="text" formControlName="name" placeholder="Name">
            </div>
            <div class="col-md-2">
                <label class="label-control">Farm</label>
                <select class="form-control border-radius-non s-h-36" formControlName="farmId" (change)="farmOnChange($event.target.value)">
                    <option value="">--------- Select Farm ---------</option>
                    <option *ngFor="let o of farms" [value]="o.id">{{o.name}}</option>
                </select>
            </div>
            <div class="col-md-2">
                <label class="label-control">Area</label>
                <select class="form-control border-radius-non s-h-36" formControlName="areaId">
                    <option value="">--------- Select Area ---------</option>
                    <option *ngFor="let o of areas" [value]="o.id">{{o.name}}</option>
                </select>
            </div>
            <div class="col-md-2">
                <label class="label-control">Sensor Type</label>
                <select class="form-control border-radius-non s-h-36" formControlName="sensorType">
                    <option value="">--------- Select Type ---------</option>
                    <option *ngFor="let o of types" [value]="o.key">{{o.value}}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <label class="col-sm-12 label-control">Sort by</label>
                </div>
                <div class="row">
                    <div class="offset-sm-1 col-sm-5">
                        <div class="row">
                            <select class="form-control border-radius-non s-h-36" formControlName="sortBy">
                                <option *ngFor="let o of sortByList" [ngValue]="o.key">{{o.value}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="offset-sm-1 col-sm-5">
                        <div class="row">
                            <select class="form-control border-radius-non s-h-36" formControlName="ascending">
                                <option value="true">Ascending</option>
                                <option value="false">Descending</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <label class="label-control">&nbsp;</label>
                <button class="btn btn-primary m-t-22" type="submit">
                    <i class="ion-android-search"></i> Search</button>
            </div>
        </div>
    </form>
</div>

<div *ngIf="!data?.sensors?.length" class="col-md-12 " align="center" class="center">
    <h1>No data</h1>
</div>

<div *ngIf="data?.sensors?.length" class="col-md-12 ">
    <table class="table table-bordered table-hover table-condensed" [mfData]="data.sensors" #mf="mfDataTable" [mfRowsOnPage]="5">
        <thead>
            <tr>
                <th style="width: 12%">
                    <mfDefaultSorter by="name">Id</mfDefaultSorter>
                </th>
                <th style="width: 12%">
                    <mfDefaultSorter by="name">Name</mfDefaultSorter>
                </th>
                <th style="width: 12%">
                    <mfDefaultSorter by="sensorType">SensorType</mfDefaultSorter>
                </th>
                <th style="width: 12%">
                    <mfDefaultSorter by="area">Farm</mfDefaultSorter>
                </th>
                <th style="width: 12%">
                    <mfDefaultSorter by="area">Area</mfDefaultSorter>
                </th>
                <th style="width: 7%">
                    <mfDefaultSorter by="locationX">LocationX</mfDefaultSorter>
                </th>
                <th style="width: 7%">
                    <mfDefaultSorter by="locationY">LocationY</mfDefaultSorter>
                </th>
                <th style="width: 5%">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of mf.data">
                <td align="left">{{item.id}}</td>
                <td align="left">{{item.name}}</td>
                <td align="left">{{item.sensorType}}</td>
                <td align="left">{{item.farm.name}}</td>
                <td align="left">{{item.area.name}}</td>
                <td align="left">{{item.locationX}}</td>
                <td align="left">{{item.locationY}}</td>
                <td align="center">
                    <a href="javascript:void(0)" (click)="showModalEditSensor(item.id)">
                        <i class="ion-edit"></i>
                    </a>
                    <a class="m-l-8" href="javascript:void(0)" (click)="deleteSensor(item.id)">
                        <i class="ion-trash-a"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="data?.sensors?.length" class="pull-right">
    <div class="row col-md-12 m-t-20 m-r-15">
        <ngb-pagination [collectionSize]="data.total" [(page)]="pagingInfo.pageIndex" [pageSize]="pagingInfo.pageSize" [rotate]="true"
            [ellipses]="false" [boundaryLinks]="true" (pageChange)="refreshData()"></ngb-pagination>
    </div>
</div>