@media screen and (min-width: 1620px) {
  .row.shift-up {
    > * {
      margin-top: -573px;
    }
  }
}

@media screen and (max-width: 1620px) {
  .card.feed-panel.large-card {
    height: 824px;
  }
}

.user-stats-card {
  .card-title {
    padding: 0 0 15px;
  }
}

.blurCalendar {
  height: 475px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-t-20 {
  margin-top: 20px;
}

.m-r-15 {
  margin-right: 15px;
}

.m-l-8{
  margin-left: 8px;
}

thead {
  background: #E7E8E6;
  font-weight: bolder;
  color: #000000
}

.m-t-22 {
  margin-top: 22px;
}

.s-h-36 {
  height: 36px !important;
}