<div class="col-md-12">
    <button class="btn btn-primary btn-icon btn-sm" [ngClass]="{'search-group': !isCollapsed}" type="button" (click)="togleSearch()">
        <i class="ion-search"></i>
    </button>
    <button class="btn btn-primary btn-icon btn-xs btn-sm" type="button" (click)="showModalAddArea()">
        <i class="ion-plus"></i> Add Area
    </button>
</div>

<div class="col-md-12">
    <form [formGroup]="frm" (ngSubmit)="onSubmit()" class="m-b-20 search-form" [ngClass]="{'d-none': isCollapsed}">
        <div class="row">
            <div class="col-md-2">
                <label class="label-control">Name</label>
                <input class="form-control border-radius-non" type="text" formControlName="name" placeholder="Name">
            </div>
            <div class="col-md-2">
                <label class="label-control">Farm</label>
                <select class="form-control border-radius-non s-h-36" formControlName="farmId">
                    <option value="">--------- Select Farm ---------</option>
                    <option *ngFor="let o of farms" [ngValue]="o.id">{{o.name}}</option>
                </select>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <label class="col-sm-12 label-control">Sort by</label>
                </div>
                <div class="row">
                    <div class="offset-sm-1 col-sm-5">
                        <div class="row">
                            <select class="form-control border-radius-non s-h-36" formControlName="sortBy">
                                <option *ngFor="let o of sortByList" [ngValue]="o.key">{{o.value}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="offset-sm-1 col-sm-5">
                        <div class="row">
                            <select class="form-control border-radius-non s-h-36" formControlName="ascending">
                                <option value="true">Ascending</option>
                                <option value="false">Descending</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <label class="label-control">&nbsp;</label>
                <button class="btn btn-primary m-t-22" type="submit">
                    <i class="ion-android-search"></i> Search</button>
            </div>
        </div>
    </form>
</div>

<div *ngIf="!data?.areas?.length" class="col-md-12  m-t-20" align="center" class="center">
    <h1>No data</h1>
</div>

<div *ngIf="data?.areas?.length" class="col-md-12  m-t-20">
    <table class="table table-bordered table-hover table-condensed" [mfData]="data.areas" #mf="mfDataTable" [mfRowsOnPage]="pagingInfo.pageSize">
        <thead>
            <tr>
                <th style="width: 30%">
                    <mfDefaultSorter by="name">Name</mfDefaultSorter>
                </th>
                <th style="width: 30%">
                    <mfDefaultSorter by="farm">Farm</mfDefaultSorter>
                </th>
                <th style="width: 30%">
                    <mfDefaultSorter by="date">Created Date</mfDefaultSorter>
                </th>
                <th style="width: 5%">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of mf.data"  [routerLink]="['/pages/area-detail', item.id]">
                <td align="left">{{item.name}}</td>
                <td>{{item.farm.name}}</td>
                <td>{{item.createdAt | date:'yyyy-MM-dd HH:mm'}}</td>
                <td align="center">
                    <a href="javascript:void(0)" (click)="showModalEditArea(item.id)">
                        <i class="ion-edit"></i>
                    </a>
                    <a class="m-l-8" href="javascript:void(0)" (click)="deleteArea(item.id)">
                        <i class="ion-trash-a"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="data?.areas?.length" class="pull-right">
    <div class="row col-md-12 m-t-20 m-r-15">
        <ngb-pagination [collectionSize]="data.total" [(page)]="pagingInfo.pageIndex" [pageSize]="pagingInfo.pageSize" [rotate]="true"
            [ellipses]="false" [boundaryLinks]="true" (pageChange)="refreshData()"></ngb-pagination>
    </div>
</div>
