<div class="auth-main">
    <div class="login-wrapper">
        <div class="bg-pic">
            <img class="img-background" alt="background" data-src="assets/img/background.jpg" data-src-retina="assets/img/background.jpg" src="assets/img/background.jpg">
            <div class="bg-caption pull-bottom sm-pull-bottom text-white p-l-20 m-b-20">
                <h2 class="semi-bold text-white">IoT</h2>
                <p class="small">
                    Copyright © 2017.
                </p>
            </div>
        </div>
        <div class="login-container bg-white">
            <div class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 m-t-30 sm-p-l-15 sm-p-r-15 sm-p-t-40">
                <div class="v-align-middle text-center">
                    <img alt="logo" data-src="assets/img/logo.jpg" data-src-retina="assets/img/logo.jpg" height="128" src="assets/img/logo.jpg"
                        width="128">
                </div>
                <p class="p-t-35 p-b-15" translate>{{'resetppassword.lblReset'}}</p>
                <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="p-t-15">

                    <!-- Password design -->
                    <div class="form-group form-group-default" [ngClass]="{'has-error': (!password.valid && password.touched), 'has-success': (password.valid && password.touched)}">
                        <label translate>{{'resetppassword.lblNewPassword'}}</label>
                        <div class="controls">
                            <input [formControl]="password" type="password" class="form-control" translate placeholder="{{'resetppassword.placeHolderNewPass' | translate}}"
                                autofocus>
                        </div>
                    </div>

                    <label class="error" *ngIf="(!password.valid && password.touched)" translate>{{'resetppassword.passwordReq'}}</label>

                    <!-- Username design -->
                    <div class="form-group form-group-default" [ngClass]="{'has-error': (!confirmNewPass.valid && confirmNewPass.touched), 'has-success': (confirmNewPass.valid && confirmNewPass.touched)}">
                        <label translate>{{'resetppassword.lblConfirmNewPassword'}}</label>
                        <div class="controls">
                            <input [formControl]="confirmNewPass" type="password" class="form-control" translate placeholder="{{'resetppassword.placeHolderConfirmNewPass' | translate}}"
                                autocomplete="off">
                        </div>
                    </div>

                    <label class="error" *ngIf="(!confirmNewPass.valid && confirmNewPass.touched || password.value != confirmNewPass.value)"
                        translate>{{'resetppassword.passwordNotMatch'}}</label>

                    <a href="#/login" routerlink="/login" class="forgotpassword" translate>{{'resetppassword.lblSigin'}}</a>

                    <div class="m-t-10 text-center">
                        <button class="btn btn-primary btn-cons" type="submit" [disabled]="!form.valid || submitted" translate>{{'resetppassword.submitValue'}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>