@media screen and (min-width: 1620px) {
  .row.shift-up {
    > * {
      margin-top: -573px;
    }
  }
}

@media screen and (max-width: 1620px) {
  .card.feed-panel.large-card {
    height: 824px;
  }
}

.user-stats-card {
  .card-title {
    padding: 0 0 15px;
  }
}

.blurCalendar {
  height: 475px;
}

.m-t-20 {
  margin-top: 20px;
}

.content {
  flex-grow: 1;
  height: 100%;
  display: flex;
  .map {
    margin: 20px;
    flex-grow: 1;
    height: -moz-calc(100% - 60px);
    height: -webkit-calc(100% - 60px);
    height: calc(100% - 60px);
    min-height: 465px;
    border: 1px solid rgb(5, 119, 49);
  }
  .chart {
    display: none;
    width: 680px;
    margin: 20px;
    position: relative;
    &.active {
      display: block;
    }
    .chart-area {
      width: 100% !important;
    }
  }
  .list-sensors {
    .table-list {
      display: table;
      width: 100%;
      line-height: 1.5;
      font-size: 16px;
      border-collapse: collapse;
      .table-row {
        display: table-row;
        &:not(.heading) {
          line-height: 2.5;
          font-size: 18px;
        }
        &:nth-child(odd):not(.heading) {
          background: #e8e8e8;
        }
        &.heading {
          font-weight: bold;
          border-bottom: 1px solid #ccc;
        }
        .table-cell {
          display: table-cell;
        }
      }
    }
  }
}
