<div class="col-md-12">
  <h3 *ngIf="area">{{area.name}} - {{area.farm.name}}</h3>
  <!-- <div class="row form-group m-b-0 required">
      <div class="col-sm-2">
          <label class="nowrap">Sensor Type</label>
      </div>
      <div class="col-sm-2">
          <select class="form-control">
              <option value="">-- All Type --</option>
              <option *ngFor="let c of types" [value]="c.key">{{c.value}}</option>
          </select>
      </div>
  </div> -->
  <div class="row form-group">
    <div class="col-md-2">
      <select class="form-control border-radius-non s-h-36" (change)="onChange($event.target.value)">
        <option value="-1">-- All Sensor Type --</option>
        <option *ngFor="let c of types" [value]="c.key">{{c.value}}</option>
      </select>
    </div>
  </div>
</div>

<div class="content">
  <div id="map" class="map"></div>
  <div class="chart" [ngClass]="{'active': chartActived}">

    <div class="list-sensors">
      <div class="table-list">
        <div class="table-row heading">
          <div class="table-cell">ID</div>
          <div class="table-cell">Name</div>
          <div class="table-cell">Type</div>
        </div>
        <div class="table-row" *ngFor="let item of area?.sensors">
          <div class="table-cell">{{item.id}}</div>
          <div class="table-cell">{{item.name}}</div>
          <div class="table-cell">{{item.sensorType?.name}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
